@import url('https://fonts.googleapis.com/css?family=Bangers|Montserrat|Blinker|Roboto|Montserrat&display=swap');

@font-face {
    font-family: 'DubbaDubbaNF';
    src: url('fonts/dubbadubbanf-webfont.woff2') format('woff2'),
         url('fonts/dubbadubbanf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}